/* ************************************************************************ */

/* Admin CSS Start */

/* Admin Login Start*/

/* Admin Login end */

/* Admin Navbar Start */

/* .adminNavbar {
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 8px;
  width: 100%;
}

.adminNavbar .leftSide {
  display: inline-block;
}

.adminNavbar .rightSide {
  float: right;
  display: flex;
}
.rightSide .icon {
  padding: 5px 10px 0 0;
}
.adminNavbar .navLogo img {
  width: 85px;
  margin-left: 10px;
}

.adminNavbar .rightSide .userIcon img {
  width: 30px;
}

.adminNavbar .dropdownMenuLower {
  padding: 50px;
} */
/* .custom-dropdown-menu {
    width: 280px;
    float: right;
    right: 0;
    left: auto;
    padding: 0;
  } */
/* .custom-dropdown-menu > li {
  float: left;
  text-align: center;
  width: 33.3%;
}
.custom-dropdown-menu li a sapn {
  display: block;
  font-size: 14px;
  line-height: 17px;
}
.custom-dropdown-menu > li > a {
  color: #a4abbb;
  border-bottom: none !important;
  word-wrap: break-word;
  text-align: center;
  white-space: pre-line;
  line-height: 20px;
  text-decoration: none;
}
.custom-dropdown-menu > li > a:hover {
  color: #ef4030;
}
div#dropdownMenuButton1:after {
  display: none;
}

.custom-dropdown-menu li a {
  padding: 15px 7px !important;
  width: 100%;
  display: inline-block;
}

.custom-dropdown-menu > li:last-child {
  float: left;
  text-align: center;
  width: 100%;
  background: #ef4030;
  border-radius: 0 0 3px 3px;
  padding: 15px 0;
  color: white;
} */
/* Admin Navbar End */







/* .sidebar .dropdown {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.1s ease-in-out;
}

.sidebar .dropdown.open {
  max-height: 1000px;
  transition: max-height 0.9s ease-in-out;
} */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modal-content {
  background: #fff; 
  padding: 20px;
  border-radius: 10px;
  width: 40% !important; 
  height: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
}

.modal-content h2 {
  margin-bottom: 20px;
  font-size: 18px;
  color: rgb(0, 0, 0);
}

.modal-content input {
  width: 40%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.modal-content button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.modal-content button:hover {
  background-color: #0056b3;
}