.header {
    text-align: center;
    padding: 20px;
    background-color: #f4f4f4;
  }
  
  .main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; 
    /* text-align: center; */
    /* padding: 50px 0; */
    /* background: linear-gradient(135deg, #601fd2, #2575fc); / */
    /* background: linear-gradient(to bottom, rgba(203,96,179,1) 0%,rgba(173,18,131,1) 50%,rgba(222,71,172,1) 100%); */
    background: #0d2d5e;
    position: relative;
}
.offer-letter-image {
    position: absolute;
    bottom: 0;
    right: 0;
}
  
.content-container {
    max-width: 600px;
    background: #ffffff;
    padding: 30px;
    box-shadow: 2px 2px 0px 5px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
}

.content-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #0d2d5e;
  }
  
  .content-container p {
    font-size: 16px;
    margin-bottom: 10px;
    color: #333;
  }
  
  ul {
    list-style: none;
    padding: 0;
    text-align: left;
  }
  
  ul li {
    margin-bottom: 10px;
  }
  
  .button-group {
    margin-top: 20px;
  }
  
  .btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .btn-accept {
    background-color: #4caf50;
    color: white;
    margin-right: 10px;
  }
  
  .btn-decline {
    background-color: #f44336;
    color: white;
  }
  
  .footer {
    text-align: center;
    background-color: #f4f4f4;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  
  .footer-content a {
    color: #007bff;
    text-decoration: none;
  }
  
  .footer-content a:hover {
    text-decoration: underline;
  }
  

/* Countdown CSS */
.countdown-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 40px;
    border: 3px solid #f16a6a;
    border-radius: 10px;
    position: relative;
    background-color: #fff;
    font-size: 18px;
    font-weight: bold;
    overflow: hidden;
    margin-top: 10px;
  }
  
  .countdown-box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    padding: 3px; /* Matches the thickness of the border */
    background: linear-gradient(
      45deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0) 100%
    );
    background-size: 200% 200%;
    animation: shine 1.5s ease-in-out infinite;
    z-index: -1; /* Ensure the shine stays behind the content */
  }
  
  .countdown-box span {
    position: relative;
    z-index: 1;
  }
  
  .clock-icon {
    margin-right: 10px;
    font-size: 24px; /* Adjust size as needed */
    color: #e74c3c;
  }
  
  @keyframes shine {
    0% {
      background-position: -200% -200%;
    }
    50% {
      background-position: 200% 200%;
    }
    100% {
      background-position: -200% -200%;
    }
  }
  
  
  